.highlight .c {
  color: #93a1a1;
  font-style: italic;
}
.highlight .err {
  color: #dc322f;
}
.highlight .k {
  color: #586e75;
  font-weight: bold;
}
.highlight .o {
  color: #586e75;
  font-weight: bold;
}
.highlight .cm {
  color: #93a1a1;
  font-style: italic;
}
.highlight .cp {
  color: #93a1a1;
  font-weight: bold;
}
.highlight .c1 {
  color: #93a1a1;
  font-style: italic;
}
.highlight .cs {
  color: #93a1a1;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #dc322f;
}
.highlight .gd .x {
  color: #dc322f;
}
.highlight .ge {
  color: #657b83;
  font-style: italic;
}
.highlight .gr {
  color: #dc322f;
}
.highlight .gh {
  color: #93a1a1;
}
.highlight .gi {
  color: #859900;
}
.highlight .gi .x {
  color: #859900;
}
.highlight .go {
  color: #657b83;
}
.highlight .gp {
  color: #657b83;
}
.highlight .gs {
  color: #586e75;
  font-weight: bold;
}
.highlight .gu {
  color: #93a1a1;
}
.highlight .gt {
  color: #dc322f;
}
.highlight .kc {
  color: #586e75;
  font-weight: bold;
}
.highlight .kd {
  color: #586e75;
  font-weight: bold;
}
.highlight .kp {
  color: #586e75;
  font-weight: bold;
}
.highlight .kr {
  color: #586e75;
  font-weight: bold;
}
.highlight .kt {
  color: #6c71c4;
  font-weight: bold;
}
.highlight .m {
  color: #2aa198;
}
.highlight .s {
  color: #d33682;
}
.highlight .na {
  color: #2aa198;
}
.highlight .nb {
  color: #268bd2;
}
.highlight .nc {
  color: #6c71c4;
  font-weight: bold;
}
.highlight .no {
  color: #2aa198;
}
.highlight .ni {
  color: #6c71c4;
}
.highlight .ne {
  color: #6c71c4;
  font-weight: bold;
}
.highlight .nf {
  color: #268bd2;
  font-weight: bold;
}
.highlight .nn {
  color: #657b83;
}
.highlight .nt {
  color: #268bd2;
}
.highlight .nv {
  color: #2aa198;
}
.highlight .ow {
  color: #586e75;
  font-weight: bold;
}
.highlight .w {
  color: #93a1a1;
}
.highlight .mf {
  color: #2aa198;
}
.highlight .mh {
  color: #2aa198;
}
.highlight .mi {
  color: #2aa198;
}
.highlight .mo {
  color: #2aa198;
}
.highlight .sb {
  color: #d33682;
}
.highlight .sc {
  color: #d33682;
}
.highlight .sd {
  color: #d33682;
}
.highlight .s2 {
  color: #d33682;
}
.highlight .se {
  color: #d33682;
}
.highlight .sh {
  color: #d33682;
}
.highlight .si {
  color: #d33682;
}
.highlight .sx {
  color: #d33682;
}
.highlight .sr {
  color: #859900;
}
.highlight .s1 {
  color: #d33682;
}
.highlight .ss {
  color: #d33682;
}
.highlight .bp {
  color: #93a1a1;
}
.highlight .vc {
  color: #2aa198;
}
.highlight .vg {
  color: #2aa198;
}
.highlight .vi {
  color: #2aa198;
}
.highlight .il {
  color: #2aa198;
}