@import url(/assets/css/thankful_eyes.css);
@import url(/assets/css/mainfont.css);

:root {
    --color-primary: hsl(92deg 28% 65%);
    --color-secondary: #91d2e3;
    --color-code-background: #122b3b;
    --color-background: #2f3542;
    --color-text: hsl(218deg 27% 94%);
}

body {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
    font-size: 20px;
    background-color: var(--color-background);
    color: var(--color-text);
}


hr {
    border: 0;
    height: 1px;
    background: var(--color-background);
    background-image: linear-gradient(to right, var(--color-background), var(--color-secondary), var(--color-background));
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    font-size: 2em;
    text-align: left;
}

h2 {
    font-size: 1.75em;
    text-align: left;
}

h3 {
    font-size: 1.5em;
    text-align: left;
}

h4 {
    font-size: 1.25em;
    text-align: left;
}

h5 {
    text-align: left;
}


a {
    color: var(--color-secondary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    grid-area: header;
    justify-self: stretch;
    background-color: red;
}

.highlighter-rouge {
    font-family: 'Source Code Pro', monospace;
    border: 1px solid #071117;
    border-radius: 5px;
    background-color: var(--color-code-background);
}

code {
    font-size: 0.85em;
    padding: 0.15em;
}

#page-title {
    font-size: 2em;
    display: flex;
    align-items: center;
}

.highlight {
    border-radius: 5px;
    /* padding: 0 5px; */
    margin: 5px;
    /* background: var(--code-bg-color); */
}

/* pure layout */

#container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#content {
    max-width: 940px;
    min-width: 0;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    padding: 2em 1em;
    text-align: justify;
}

.topbar {
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--color-secondary);
    width: 100%;
    display: grid;
    grid-template-columns: fit-content(320px) 1fr;
    box-sizing: border-box;
    /* border: 1px solid white; */
    margin-bottom: 10px;
}


nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

nav>ul li {
    float: left;
    margin: 20px 0 20px 20px;
}

nav>ul li>a {
    display: block;
    color: var(--color-secondary);
    text-align: center;
    margin-left: 20px;
    text-decoration: none;
}

nav>ul li>a:hover {
    /*background-color: var(--color-code-background);*/
    color: white;
    /* border-radius: 5px; */
}

blockquote {
    /*padding:0.5rem 0 0.5rem 75px;*/
    padding: 0.25em 1em;
    margin: 0;
    border-left: 8px solid var(--color-secondary);
    /* border-top: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
    border-right: 1px solid var(--color-secondary);
    border-radius: 3px; */
    position: relative;
    background: var(--color-background);
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

.anchor {
    text-decoration: none;
    font-weight: 400;
    color: var(--color-primary);
}

#articles {
    width: 100%;
}

.article {
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

@media only screen and (max-width: 960px) {
    /* For mobile phones: */

    body {
        font-size: 18px;
    }

    #content {
        padding: 0.3em 0.3em;
    }

    nav>ul li {
        margin: 10px 0 10px 10px;
    }
    
    nav>ul li>a {
        margin-left: 10px;
    }

}

@media only screen and (max-width: 860px) {
    /* For mobile phones: */

    body {
        font-size: 16px;
    }

    #content {
        padding: 0.3em 0.3em;
    }

    nav>ul li {
        margin: 10px 0 10px 10px;
    }
    
    nav>ul li>a {
        margin-left: 10px;
    }

}

@media only screen and (max-width: 760px) {
    body {
        font-size: 14px;
    }
}