<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cofinal space - {{ page.title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">

    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:site_name" content="Cofinal space" />
    
    <meta property="og:image" content="{{ site.url | absolute_url }}/assets/images/meta_img.png" />

    {% if page.description %}
        <meta property="og:description" content="{{ page.description }}" />
    {% else %}
        <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    
    {% if page.layout == 'post' %}
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="article" />
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {% else %}
        <meta property="og:title" content="{{ site.title }}" />
        <meta property="og:type" content="website" />
    {% endif %}

    <link rel="stylesheet" href="/assets/css/mainfont.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/katex/katex.min.css">
    <link rel="stylesheet" href="/assets/fontawesome6/css/fontawesome.min.css">
    <!--<link rel="stylesheet" href="/assets/fontawesome6/css/regular.min.css"> -->
    <link rel="stylesheet" href="/assets/fontawesome6/css/solid.min.css">
</head>

<body>
    <div id="container">
        <div id="content">
            <nav class="topbar">
                <div id="page-title"><i class="fa-solid fa-circle-nodes" style="margin-right: 10px;"></i> Cofinal space</div>
                <ul>
                    <div style="float: right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                    </div>
                </ul>
            </nav>
            {{ content }}
        </div>
    </div>
</body>

</html>