---
layout: default
---

<div id="content">
    {{ content }}
    <h1>Latest posts</h1>
    <div id="articles">
        {% for post in site.posts limit:5 %}
        <div class="article">
            <a href="{{ post.url }}">{{ post.title }}</a><br>
            <span style="font-size: 0.7em">
                <span style="margin-right: 10px;"><i class="fa-regular fa-calendar"></i> 
                    {{ post.date | date: "%-d %B %Y" }}
                </span>
                {% if post.categories %}
                    {% for category in post.categories %}
                    <span style="margin-right: 10px;"><i class="fa-solid fa-tag"></i> 
                        {{ category }}
                    </span>
                    {% endfor %}
                {% endif %}
                {{ post.excerpt }}
            </span>
        </div>
        {% endfor %}
    </div>
    <h1>Posts by category</h1>
    <ul>
        {% for category in site.categories %}
            <li> {{ category[0] }}
                <ul>
                    {% for post in category[1] %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
