---
layout: default
---

<h1>{{ page.title | escape }}</h1>
<span style="margin-right: 10px;"><i class="fa-regular fa-calendar"></i> {{ page.date | date: "%-d %B %Y" }}</span>
<hr>
{% include toc.html html=content %}
{% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor" %}
<hr>
<i class="fa-solid fa-turn-up"></i> <a href="#">Scroll to Top</a>